body {
  background-image: url(../images/train-station-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-weight: bolder;
}

#currentTime {
  color: rgb(39, 24, 241);
  font-size: 70%;
}
#submit-btn {
  background-color: rgb(223, 242, 243);
}

.jumbotron {
  font-family: 'Spectral SC', serif;
  font-stretch: extra-expanded;
  margin-top: 1%;
  opacity: .95;
  font-weight: bolder;
  background-color: rgb(223, 242, 243);
  font-size: 30px;
}

.form-control {
  font-style: italic;
}

.row {
  font-family: 'Spectral', serif;
  opacity: .95;
}

