body {
  background-image: url(../images/train-station-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-weight: bolder;
}

#currentTime {
  color: blueviolet;
}
#submit-btn {
  background-color: rgb(223, 242, 243);
}

.jumbotron {
  font-family: 'Spectral SC', serif;
  font-stretch: extra-expanded;
  margin-top: 1%;
  opacity: .95;
  font-weight: bolder;
  background-color: rgb(223, 242, 243);
  font-size: 30px;
}

.form-control {
  font-style: italic;
}

.row {
  font-family: 'Spectral', serif;
  opacity: .95;
}

font-family: 'Sacramento', cursive; */
font-family: 'Nanum Myeongjo', serif;
font-family: 'Spectral SC', serif;
font-family: 'Spectral', serif;
font-family: 'Nunito', sans-serif